<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp5216.myrecovery">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name = "android.hardware.camera" />
    <uses-feature android:name = "android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/myrecovery_launcher"
        android:label="MyRecovery"
        android:roundIcon="@mipmap/myrecovery_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:label="Home" />
        <activity
            android:name=".ReportActivity"
            android:label="Report" />
        <activity
            android:name=".ReportPain"
            android:label="Pain Level" />
        <activity
            android:name=".HistoryActivity"
            android:label="History" />
        <activity
            android:name=".ChecklistActivity"
            android:label="Checklist" />
        <activity
            android:name=".MoreActivity"
            android:label="More" />
        <activity
            android:name=".ReportMedicine"
            android:label="Medicine" />
        <activity
            android:name=".ReportMood"
            android:label="Mood" />
        <activity
            android:name=".HeartRateMonitor"
            android:label="Heart Rate" />

        <activity android:name=".LoginActivity"
            android:label="Login">
            <intent-filter android:label="MyRecovery">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"
            android:label="Sign Up" />
    </application>
</manifest>